@import 'tailwindcss';
@import './colors.css';
@import './typography.css';

html {
  font-size: 62.5%; /* 16px * 0.625 = 10px */
}

@theme {
  --z-index-planType: 10;
  --z-index-nav: 20;
  --z-index-card: 30;
  --z-index-guide: 40;
  --z-index-header: 50;
  --z-index-modal: 60;
  --z-index-toast: 70;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
