@keyframes cardMove {
  0% {
    opacity: 1;
  }
  55% {
    transform: translateY(130px);
    opacity: 1;
  }
  75% {
    transform: translateY(160px);
    opacity: 0.5;
  }
  85% {
    transform: translateY(170px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(180px);
    opacity: 0;
  }
}

@keyframes fingerMove {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  55% {
    transform: translateY(130px);
    opacity: 1;
  }
  75% {
    transform: translateY(160px);
    opacity: 0.5;
  }
  85% {
    transform: translateY(170px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(180px);
    opacity: 0;
  }
}

.cardMove {
  animation: cardMove 1.7s ease-in-out infinite;
}
.fingerMove {
  animation: fingerMove 1.7s ease-in-out infinite;
}
